/* Write your CSS here */
.container {
  background-image: linear-gradient(to top, #9796f0, #fbc7d4);
  height: 180vh;
  background-size: cover;
  padding-top: 30px;
}
.card-container {
  background-color: #ffffff;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  padding: 15px;
  background-size: cover;
}

.heading {
  font-family: 'Roboto';
  font-size: 35px;
  color: #171f46;
}
.title {
  color: #b5b7c4;
  font-size: 13px;
  font-family: 'Roboto';
  margin-bottom: 8px;
}
.input-element {
  height: 37px;
  width: 300px;
}
.add-button {
  color: #ffffff;
  background-color: #9796f0;
  font-family: 'Roboto';
  font-size: 16px;
  padding: 5px;
  margin: 8px;
  border-radius: 8px;
  border-width: 0px;
  height: 38px;
  width: 100px;
}
.appointments-img {
  height: 400px;
  width: 400px;
}
.flex-col-container {
  display: flex;
  flex-direction: column;
}
.flex-row-container {
  display: flex;
  justify-content: space-around;
}
.line {
  border-width: 2px;
  border-color: #b5b7c4;
}
.appointments {
  color: #171f46;
  font-size: 24px;
  font-family: 'Roboto';
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.star-button {
  font-family: 'Roboto';
  font-size: 16px;
  padding: 5px;
  margin: 8px;
  border-radius: 8px;
  color: #9796f0;
  background-color: #ffffff;
  outline: none;
  border-width: 1px;
  border-color: #9796f0;
  height: 37px;
  width: 100px;
}
@media screen and (max-width: 576px) {
  .appointments-img {
    display: none;
  }
  .title {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 18px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  order: 1;
}
.comments-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 9px;
}
